 h2.subject {
                color:#9ACD32
                }
                hr {
                color:#FFA500
                }
                h1 {
                color:#ff0000
                }
                /* Set a style for all buttons */
                button {
                border-radius: 4px;
                background-color: #04AA6D;
                color: white;
                padding: 14px 20px;
                margin: 8px 0;
                border: none;
                cursor: pointer;
                width: 23%;
                }
                button:hover {
                opacity: 0.8;
                    background-color: #ffae00;
                }
                p {
                color:#0000FF
                }
                body {
                font-family: Arial, Helvetica, sans-serif
                }
                img {
                color:#ff0000
                }
                h2 {
                color:#4bcf23
                }
                 /* Navbar container */

.navbar {
  overflow: hidden;
  background-color: #00000044;
  font-family: Arial;
  width: 8%;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  background-image:
  -webkit-repeating-linear-gradient(right,
  rgba(255, 0, 0, 0.685) 0%,
  rgba(40, 68, 230, 0.945) 100%);
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
    opacity: 0.8;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px #6d111175;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-image:
  -webkit-repeating-linear-gradient(bottom,
  rgba(59, 233, 15, 0.685) 0%,
  rgba(98, 62, 255, 0.945) 100%);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px #6d111175;
  z-index: 1;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
}
.nos {
  background-image:
  -webkit-repeating-linear-gradient(bottom,
  rgba(255, 0, 0, 0.685) 0%,
  rgba(0, 195, 255, 0.945) 100%);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px #6d111175;
  z-index: 1;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
}