    h2.subject {
    color:#9ACD32
    }
    hr {
    color:#FFA500
    }
    h1 {
    color:#ff0000
    }
    /* Set a style for all buttons */
    button {
    border-radius: 4px;
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 23%;
    }
    button:hover {
    opacity: 0.8;
		background-color: #ffae00;
    }
    p {
    color:#0000FF
    }
	 .dark-mode {
  background-color: black;
  }
    body {
    font-family: Arial, Helvetica, sans-serif
    }
    img {
    color:#ff0000
    }
    h2 {
    color:#4bcf23
    }
    .dropdown-content {
      display: none;
      position: absolute;
      background-image:
      -webkit-repeating-linear-gradient(bottom,
      rgba(59, 233, 15, 0.685) 0%,
      rgba(98, 62, 255, 0.945) 100%);
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px #6d111175;
      z-index: 1;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      border-radius: 25px;
    }
    