    h2.subject {
    color:#9ACD32
    }
    hr {
    color:#FFA500
    }
    h1 {
    color:#ff0000
    }
    /* Set a style for all buttons */
    button {
    border-radius: 4px;
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 23%;
    }
    button:hover {
    opacity: 0.8;
		background-color: #ffae00;
    }
    p {
    color:#0000FF
    }
	 .dark-mode {
  background-color: black;
  }
    body {
    font-family: Arial, Helvetica, sans-serif
    }
    img {
    color:#ff0000
    }
    h2 {
    color:#4bcf23
    }
    .dark {
      background-color: rgb(0, 0, 0);
      color: #ff0000;
    }