          p {
            color: blue;
          }
            h2.subject {
            color:#9ACD32
            }
            hr {
            color:#FFA500
            }
            h1 {
            color:#ff0000
            }
        /* Navbar container */
.navbar {
  overflow: hidden;
  background-image:
      -webkit-repeating-linear-gradient(top,
      rgba(233, 15, 15, 0.685) 0%,
      rgba(194, 181, 67, 0.911) 100%);
  font-family: Arial;
  -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      border-radius: 25px;
}
button.normaly {
border-radius: 4px;
background-color: #04AA6D;
color: white;
padding: 14px 20px;
margin: 8px 0;
border: none;
cursor: pointer;
width: 23%;
}
button:hover {
opacity: 0.8;
	background-color: #ffae00;
}
/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
    opacity: 0.8;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px #6d111175;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
   .dark-mode {
  background-color: black;
  }
  body {
font-family: Arial, Helvetica, sans-serif
}
body {font-family:verdana, sans-serif; color:#666; background:#fafafa; padding:20px; text-align:center;}
#page {text-align:left; max-width:600px; margin:0 auto;} 
h1 {font-size:35px; font-weight:normal; text-align:center;}
label {font-size:16px;}
label i {font-style:normal; display:inline-block; text-align:right; width:100px;}
label textarea {vertical-align:top;}
input, textarea {width:400px; font-size:16px; font-family: courier, "courier new", monospace; margin:0 0 5px 0; padding:5px; border:1px solid #eee;}
select {margin:0 0 5px 0;}
@media (min-width:300px) and (max-width: 768px) {
  input, textarea {width:100%;}
  label i {display:block; width:auto; text-align:left;}
  button {display:block; margin:0;}
}